
server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: auth-domain-service

  r2dbc:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  sql:
    init:
      mode: NEVER
      schema-locations: classpath:schema.sql

  jackson:
    time-zone: UTC

jwt:
  secret: ${JWT_SECRET}
  access-expiration: ${JWT_ACCESS_EXPIRATION}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION}